.functional {
  width: 320px;
  min-height: 305px;
  padding: 0 20px;
  box-sizing: border-box;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.functional__title {
  margin: 29px 0 23px;

  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.functional__description {
  margin: 0;

  font-family: @oswald;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.functional__can-image {
  margin-top: 29px;

  text-align: center;
}
