.functional {
  position: relative;
  min-height: 480px;
  padding: 0 20px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 167px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: 280px 270px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    min-height: 305px;
    width: 320px;

    background-color: #64a93c;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: 320px 305px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    z-index: -1;
  }
}

.functional__title {
  margin: 29px 0 23px;

  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.functional__description {
  margin: 0;

  font-family: @oswald;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.functional__button {
  width: 280px;
  margin-top: 302px;
}

// Планшетная версия

@media (min-width: @tablet-width) {
  .functional {
    min-height: 800px;
    padding: 0 120px;
    margin-bottom: 10px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 30px 200px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }

    &::after {
      content: none;
    }
  }

  .functional__title {
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .functional__description {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .functional__button {
    width: 245px;
    min-height: 52px;
    margin-top: 48px;
    padding-top: 17px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .functional {
    position: static;
    min-height: 555px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 490px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px 499px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      min-height: 696px;
      width: 50%;

      background-color: #64a93c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px 696px;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }

      z-index: -1;
    }
  }

  .functional__title {
    width: 420px;
    margin: 80px 0 40px;
  }

  .functional__button {
    margin-top: 53px;
  }
}
