.page-header {
  display: flex;
  flex-wrap: wrap;

  outline: 2px solid rgba(255, 0, 0, 0.5);
}

.page-header__wrapper {
  display: flex;
  padding: 0 20px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  display: block;
  margin: 11px 0 0;
  width: 191px;
  height: 39px;

  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  width: 25px;
  height: 19px;
  padding: 0;
  margin: 23px 0 23px 65px;

  background-color: white;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
}

// Планшетная версия

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 141px;
  }

  .page-header__wrapper {
    width: auto;
    padding: 0;

    border: none;
  }

  .page-header__logo {
    margin: 24px 0 0 30px;
    width: 174px;
    height: 59px;

    background-image: url("../img/logo-tablet.svg");
  }

  .page-header__toggle {
    display: none;
  }
}

//Десктопная версия

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 142px;
  }

  .page-header__logo {
    width: 203px;
    height: 60px;

    margin: 53px 0 0 39px;

    background-image: url("../img/logo-desktop.svg");
    background-size: 202px 60px;
  }
}
