.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header__wrapper {
  display: flex;
  padding: 0 20px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  display: block;
  margin: 13px 0 11px;
  width: 191px;
  height: 39px;

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.8;
  }

  &:not(&--active):active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  display: block;
  width: 25px;
  height: 19px;
  padding: 0;
  margin: 23px 0 23px 65px;

  background-color: white;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;

  outline: none;

  &--no-js {
    display: none;
  }

  &--show {
    width: 18px;
    height: 18px;
    margin-left: 69px;

    background-image: url("../img/icon-close.svg");
  }
}

// Планшетная версия

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 141px;
  }

  .page-header__wrapper {
    width: auto;
    padding: 0;

    border: none;
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
    margin: 12px 0 0 30px;
  }

  .page-header__toggle {
    display: none;
  }
}

//Десктопная версия

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 142px;
  }

  .page-header__logo img {
    width: 203px;
    height: 60px;
    margin: 43px 0 0 40px;

    background-size: 202px 60px;
  }
}
