.product {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  border-top: 1px solid #d9d9d9;

  &--show-more {
    flex-direction: column;

    align-items: center;

    border-bottom: 1px solid #d9d9d9;
  }
}

.product__title {
  width: 75px;
  margin: 22px 0 12px;

  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &--show-more {
    width: 280px;
    margin: 23px 0 7px;

    text-align: center;
  }
}

.product__image {
  &--chicken-small {
    width: 140px;
    height: 144px;
  }

  &--show-more {
    width: 30px;
    height: 30px;
    padding-top: 26px;

    polygon {
      fill: rgba(34, 34, 34, 0.2);
    }
  }
}

.product__feature {
  width: 140px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;

  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  td {
    padding: 0;
  }

  &--show-more {
    width: 280px;
    text-align: center;
  }
}

.product__feature td:last-child {
  text-align: right;
}

.product__button {
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
}

.product__button--show-more {
  margin-top: 22px;

  color: #444444;

  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .product {
    flex-direction: column;
    padding-bottom: 37px;

    align-items: center;

    border-top: none;

    &--show-more {
      padding-top: 25px;

      background-color: #ffffff;
      border: 1px solid #cdcdcd;
    }
  }

  .product__title {
    width: 135px;
    margin: 165px auto 18px;

    font-size: 20px;
    text-align: center;

    &--show-more {
      margin: 50px 0 28px;
    }
  }

  .product__image {
    position: absolute;
    left: 0;

    width: 324px;

    &--chicken-small,
    &--fish-small,
    &--buckwheat-small,
    &--rice-small {
      top: -45px;

      height: 172px;
    }

    &--chicken-big,
    &--fish-big,
    &--buckwheat-big {
      top: -81px;

      height: 208px;
    }

    &--show-more {
      width: 61px;
      height: 61px;
    }
  }

  .product__feature {
    width: 250px;
    margin-bottom: 33px;

    font-size: 16px;

    td {
      padding: 8px 0;

      border-bottom: 1px solid #d9d9d9;
    }

    &--show-more {
      width: 170px;
      margin-bottom: 0;

      line-height: 18px;
    }
  }

  .product__button--show-more {
    margin-top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .product__title {
    margin-bottom: 20px;

    &--show-more {
      margin-bottom: 25px;
    }
  }

  .product__image {
    width: 245px;
  }

  .product__feature {
    width: 168px;

    td {
      padding: 7px 0;
    }
  }
}
