.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.site-list__item {
  text-align: center;

  border-bottom: 1px solid #e6e6e6;

  a {
    display: block;
    width: 320px;
    margin: 0;
    padding: 21px 0;
    box-sizing: border-box;

    font-family: @oswald;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #111111;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--active a {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    margin-right: 30px;
    margin-top: 22px;
  }

  .site-list__item {
    border-bottom: none;

    &--active a {
      border-bottom: 2px solid #68b738;
    }
  }

  .site-list__item a {
    width: auto;
    margin-left: 35px;
    padding-bottom: 8px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #222222;
  }

  .site-list__item:first-child a {
    margin-left: 0;
  }
}

// Планшетная версия

@media (min-width: @desktop-width) {
  .site-list {
    margin-right: 40px;
    margin-top: 52px;

    &--index {
      a {
        color: #ffffff;
      }

      .site-list__item--active a {
        border-bottom: 2px solid #ffffff;
      }
    }
  }

  .site-list__item a {
    font-size: 20px;
  }
}
