body {
  display: flex;
  flex-direction: column;
  width: 320px;

  outline: 2px solid rgba(255, 255, 0, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
